body {
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin: 0; */
  padding: 0;
}

.profilecard {
  width: 400px;  
  height: 450px;
  background-color: whitesmoke; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px; 
  padding: 10px;
}


.backgroundimg{
  width: 400px;
  height: 200px;
}
#coverimg{
  border-radius: 10px;
}
#profileimg{
  border-radius: 50%;
  position: relative;
  bottom: 40px;
  left: 20px;
}
p{
  margin: 0%;
}
h1{
  margin: 0%;
}
.heading{
  display: flex;
  flex-direction: row;
  color: #363484;
}
button{
  background-color: #f47c12;
  color: white;
  width: 90px;
  height: 30px;
  border-color: #f47c12;
  border-radius: 30PX;
  font-weight: bold;
  position: relative;
  top: 20px;
  left: 90px;
}
a{
  color: #363484;
  text-decoration: none;
}
.followcount{
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}
.content, .followcount, .footer, .location{
  margin-top: 15px;
}
.location{
  display: flex;
  flex-direction: row;
}